@media screen and (max-width: 768px) {
    .authority__container {
        display: none !important;
    } 
    .modal__container__class {
        display: none !important;
    }
}
.ultra__wide__modal {
    min-width: 720px;
}
.authority__container {
    display: grid;
    grid-template-columns: 250px minmax(0,auto);
    height: 100%;
    overflow-y: scroll;
}
.sidebar__container {
    display: flex;
    flex-direction: column;
    background-color: gray;
    color: white;
    .sidebar__main__content{
        flex: 1;
        overflow-y: scroll;
        .logo__container {
            display: flex;
            align-items: center;
            padding: 12px;
            .logo__image {
                width: 30px;
                height: auto;
                margin-right: 12px;
            }
            .logo__text{
                font-size: 1.25rem;
                font-weight: bold;
            }
        }
        .username__container {
            cursor: pointer;
            font-weight: 600;
            padding: 12px;
            transition: all 0.2s;
            color: white;
            .username__avatar {
                border-radius: 50%;
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 12px
            }
        }
        .sidebar__link {
            cursor: pointer;
            font-weight: 500;
            padding: 12px;
            transition: all 0.2s;
            color: white;
            text-decoration: none;
            .sidebar__link__icon {
                margin-right: 12px;
                font-size: 18px;
            }
            .sidebar__link__icon__circle{
                margin-right: 12px;
                font-size: 14px;
            }
            .side__link__arrow {
                margin-left: auto;
                font-size: 14px;
                transition: all 0.2s;
            }
            .side__link__arrow__open {
                transform: rotateZ(90deg);
            }
        }
        .sidebar__link__active, .sidebar__link__collapse__toggle__open{
            background-color: rgb(146, 145, 145);
        }
        .sidebar__link__collapse {
            padding-left: 2px
        }
        .agents__collapse__container {
            padding: 12px;
        }
        .sidebar__link:hover {
            padding-left: 18px;
        }
        .page__section__container {
            //border-top: 1px solid white;
            padding: 12px;
            .page__section__title {
                font-size: 14px;
                opacity: 0.8;
                font-weight: 600;
            }
        }
    }
    .logout__area__container {
        padding: 12px;
        cursor: pointer;
        font-weight: 500;
        transition: all 0.2s;
        .logout__icon {
            margin-right: 12px;
            font-size: 18px;
        }
    }
    .logout__area__container:hover{
        padding-left: 18px;

    }
}

.authority__card {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    border-radius: 6px;
    padding: 21px;

    .search__area__container {
        .table__search__button{
            margin-left: 8px;
        }
    }
}
.authority__card__title{
    font-size: 20px;
    font-weight: 500;
}
.card__height{
    height: 100%;
}

.dashboard__container{
    padding: 12px;
    overflow-y: scroll;
}
.create__agent__container{
    padding: 12px;
    overflow-y: scroll;

}
.agent__list__container{
    padding: 12px;
    overflow-y: scroll;
}
.modal__header__class {
    padding: 12px 16px !important;
    background-color: #0000000a !important;
    Button {
       font-size: 12px !important;
    }
}
.modal__title__class{
    font-size: 1rem !important;
}
.assigned__agents__table {
    width: 100%;
    th {
        background-color: #f3f2f7;
        padding: 10px 16px;
        font-weight: 600;
    }
    td {
        padding: 10px 16px !important;
        border-top: 1px solid #ebe9f1 !important;
    }
    tr:nth-of-type(odd){
        background-color: #fafafc !important;
    }
}
.authority__form__container{
    padding: 16px;
    overflow-y: scroll;
    .emergency__detail__label {
        font-weight: 500;
        color: rgb(58, 58, 58);
        margin-bottom: 4px;
    }
    .emergency__detail__info {
        margin-bottom: 4px;
    }
    .emergency__detail__button{
        margin-right: 8px;
        font-weight: 600;
    }
    .emergency__detail__select{
        padding: 4px;
        border: none;
        box-shadow: none !important;
    }
}
.upload__evidence__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 4px dashed #dee2e6;
    background-color: #e9eef2;
    border-radius: 20px;
    i {
        font-size: 7rem;
        line-height: 9rem;
    }
}