
/* MY VARS */
:root {
  --Black: #000000;
  --BackScreen: #ECECEC;
  --lightGrey: #7A7A7A;
}
a {
  color: var(--Black)
}
h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
body {
  background-color: var(--BackScreen);
  font-family: Gadugi;
}
.main-area-minus-bot-nav {
  height: calc(100vh - 70px);
}
.col {
  text-align: center;
}
.col > .btn {
  aspect-ratio: 1/1;
  border-radius: 50%;
  height: 100px;
}
.emergency-number-icons {
  font-size: 3rem !important
}
.general-mobile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-around;
}
#change-flex-to-row {
  flex-direction: row;
}
#bottom-nav-container {
  justify-content: space-evenly;
}
.sms-verify-container .text-input-container {
  justify-self: center;
}
.main-container {
  justify-content: space-around;
  box-sizing: border-box;
}
.social-container {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
}
.registration-form-container {
  justify-content: space-evenly;
}
.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* line-height: 2em; */

}
.title {
  margin-bottom: 20px;
}
.label {
  font-size: 0.9rem;
  text-align: center;
  width: 60%;
  line-height: 1.1rem;
  text-decoration: none;
}
.button {
  width: 70%;
  height: 6vh;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  border: 0;
  background-color: var(--Black);
  color: var(--BackScreen);
}
.login-button {
  background-color: var(--Black);
  color: var(--BackScreen);
}
.guest-button {
  background-color: lightgray;
}
.text-input {
  background-color: var(--BackScreen);
  outline: none;
  border-width: 0;
  height: 5vh;
  margin: 0 15px;
  flex-grow: 1;
  border: none;
}
.text-input-svg {
  max-width: 16px;
}
.text-input-container {
  border: 1px solid #000000;
  border-radius: 100px;
  display: flex;
  align-items: center;
  width: 80%;
  padding: 0 20px;
  box-sizing: border-box;
  
}
.acct-label {
  font-weight:500;
  
  color: var(--lightGrey);
}
.logo {
  /* height: 50px; */
  width: 25%;
  border-radius: 20px;
}

/* bootstrap stuff */
.user-bottom-navbar {
  box-shadow: 0px -10px 25px rgba(0, 0, 0, 0.1);
}
.user-bottom-navbar > .navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}
.user-bottom-navbar .bi {
  font-size: 35px;
}

.myTabClass ul > li > a {
  background-color: gray;
  color: white;
}